VITE_APP_ENV=staging
VITE_APP_BYPASS=true

VITE_APP_URL=https://renoxpert.my/
VITE_API_URL=https://api.renoxpert.my/api/
VITE_BACKEND_URL=https://api.renoxpert.my/


VITE_STAGING_APP_URL=https://staging.renoxpert.my/
VITE_STAGING_API_URL=https://sapi.renoxpert.my/api/
VITE_STAGING_BACKEND_URL=https://sapi.renoxpert.my/


VITE_LOCAL_APP_URL=http://localhost:5173/
VITE_LOCAL_API_URL=http://localhost:8000/api/
VITE_LOCAL_BACKEND_URL=http://localhost:8000/

VITE_STAGING_AWS_S3_URL=
VITE_AWS_S3_URL=

VITE_LANDING_URL=https://renoxpert.my/
VITE_STAFF_URL=https://app.renoxpert.my/
VITE_CLIENT_URL=https://client.renoxpert.my/
VITE_OP_URL=https://op.renoxpert.my/
VITE_VEN_URL=https://ven.renoxpert.my/
VITE_PUBLIC_URL=https://public.renoxpert.my/
VITE_FORM_URL=https://form.renoxpert.my/
VITE_CAMPAIGN_URL=https://campaign.renoxpert.my/

VITE_STAGING_LANDING_URL=https://staging.renoxpert.my/
VITE_STAGING_STAFF_URL=https://sapp.renoxpert.my/
VITE_STAGING_CLIENT_URL=https://sclient.renoxpert.my/
VITE_STAGING_OP_URL=https://sop.renoxpert.my/
VITE_STAGING_VEN_URL=https://sven.renoxpert.my/
VITE_STAGING_PUBLIC_URL=https://spublic.renoxpert.my/
VITE_STAGING_FORM_URL=https://sform.renoxpert.my/
VITE_STAGING_CAMPAIGN_URL=https://s-campaign.renoxpert.my/

VITE_CHATWOOT_WEBSITE_TOKEN=
WEBWIDGET_HMAC_TOKEN=