VITE_API_URL_LOCAL=http://localhost:8000/api/
VITE_API_URL_LN=http://192.168.1.12:8000/api/

VITE_BACKEND_URL_LOCAL=http://localhost:8000
VITE_BACKEND_URL_LN=http://192.168.1.12:8000

VITE_API_URL=https://sapi.renoxpert.my/api/
VITE_BACKEND_URL=https://sapi.renoxpert.my

VITE_APP_URL_LOCAL=http://localhost:5173/
VITE_APP_URL_LN=http://192.168.1.12:5173/

VITE_APP_ENV=local