VITE_APP_ENV=local
VITE_APP_BYPASS=false

VITE_APP_URL=https://renoxpert.my/
VITE_API_URL=https://api.renoxpert.my/api/
VITE_BACKEND_URL=https://api.renoxpert.my/


VITE_STAGING_APP_URL=https://staging.renoxpert.my/
VITE_STAGING_API_URL=https://sapi.renoxpert.my/api/
VITE_STAGING_BACKEND_URL=https://sapi.renoxpert.my/


VITE_LOCAL_APP_URL=http://localhost:5173/
VITE_LOCAL_API_URL=http://localhost:8000/api/
VITE_LOCAL_BACKEND_URL=http://localhost:8000/

VITE_STAGING_AWS_S3_URL=
VITE_AWS_S3_URL=